---
layout: default
---
<article class="window page">
  <div class="title-bar">
    <div class="title-bar-text">{{ page.title | escape }}</div>
    <div class="title-bar-controls">
      <button aria-label="Minimize" tabindex="-1"></button>
      <button aria-label="Maximize" tabindex="-1"></button>
      <button aria-label="Close" tabindex="-1"></button>
    </div>
  </div>
  <div class="window-body prose">
    {{ content }}
  </div>
  <div class="status-bar">
    <p class="status-bar-field">{{ page.url }}</p>
    <p class="status-bar-field">Ready</p>
  </div>
</article>
